<!--  http://diveintohtml5.info/geolocation.html   -->
<article class="pull-right">
  <p class="span3">
    I need laura to help me post this location to the user session, and store it in the users account if they're logged in.
    Would also love for this button to be on the navbar, and then show the map on button hover maybe?
  </p>
  <p>Finding your location: <span id="status">checking...</span></p>
</article>
<script>
function success(position) {
  var s = document.querySelector('#status');
  
  if (s.className == 'success') {
    // not sure why we're hitting this twice in FF, I think it's to do with a cached result coming back    
    return;
  }
  
  s.innerHTML = "found you!";
  s.className = 'success';
  
  var mapcanvas = document.createElement('div');
  mapcanvas.id = 'mapcanvas';
  mapcanvas.style.height = '200px';
  mapcanvas.style.width = '500px';


  var confirmlocation = document.createElement('button');
  confirmlocation.id = 'confirm_location';
  confirmlocation.className = 'btn btn-success';

  document.querySelector('#status').appendChild(confirmlocation);
  document.querySelector('article').appendChild(mapcanvas);
  
  $('#confirm_location').text('Does this Location look correct?');
    
  
  var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  var myOptions = {
    zoom: 15,
    center: latlng,
    mapTypeControl: false,
    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);
  
  var marker = new google.maps.Marker({
      position: latlng, 
      map: map, 
      title:"You are here! (at least within a "+position.coords.accuracy+" meter radius)"
  });
}

function error(msg) {
  var s = document.querySelector('#status');
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';
  
  // console.log(arguments);
}

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, error);
} else {
  error('not supported');
}

</script>
